
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
    background-image: url("soldier.jpg");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #191b1b2a
}
li, a{
    font-family: "Montserrat",sans-serif;
    font-weight: 500  ;
    font-size: 16px ;
    color: #e6f0f1 ;
    text-decoration:none ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
